{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/styles.css' %}">
    <title>Homework Tracker</title>
</head>
<body>
    <a href="/create/" class="create-button">
        <h1>Create</h1>
    </a>
    <a href="/update/" class="update-button">
        <h1>Update</h1>
    </a>
    <a href="/delete/" class="delete-button">
        <h1>Delete</h1>
    </a>
    <a href="/timer/" class="timer-button">
        <h1>Timer</h1>
    </a>

    <script>
        function times() {
            var x = document.getElementById("tasks");
            x.style.display = "none";
            var x = document.getElementById("times");
            x.style.display = "block";
        }
        function tasks() {
            var x = document.getElementById("tasks");
            x.style.display = "block";
            var x = document.getElementById("times");
            x.style.display = "none";
        }
    </script>

    <button class="tasks-button" onclick="tasks()">
        <h2 class="tasks-button-text">Tasks</h2>
    </button>

    <button class="times-button" onclick="times()">
        <h2 class="times-button-text">Time Entries</h2>
    </button>

    <div class="tasks" id="tasks">
        {% for task in tasks %}
        <div class="task">
            <h2>{{ task.title }}</h2>
            <h3><strong>ID:</strong> {{ task.id }}</h3>
            <h3><strong>Project:</strong> {{ task.project }}</h3>
            <h3><strong>Due Date:</strong> {{ task.due_date }}</h3>
            <h3><strong>Status:</strong> {{ task.status }}</h3>
            <h3><strong>Total Time:</strong> {{ task.total_time }} hours</h3>
            <br>
            <p>{{ task.description }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="times" id="times">
        {% for time in times %}
        <div class="time">
            <h2>{{ time.task }}</h2>
            <h3><strong>ID:</strong> {{ task.id }}</h3>
            <h3><strong>Time Elapsed:</strong>Temporary Placeholder</h3>
            <h3><strong>Start Time:</strong> {{ task.start_time }}</h3>
            <h3><strong>End Time:</strong> {{ task.end_time }}</h3>
        </div>
        {% endfor %}
    </div>
</body>
</html>