body {
    position: absolute;
    width: 1240px;
    height: auto;
    left: calc(50% - 1240px/2);
    top: 68px;
    padding-bottom: 50px;
}

.create-button {
    position: absolute;
    width: 310px;
    height: 154px;
    left: 0px;
    top: 0px;
    
    background: #E7E7E7;
    border-radius: 10px;
}

.update-button {
    position: absolute;
    width: 310px;
    height: 154px;
    left: 0px;
    top: 174px;
    
    background: #E7E7E7;
    border-radius: 10px;
}

.delete-button {
    position: absolute;
    width: 310px;
    height: 154px;
    left: 0px;
    top: 348px;
    
    background: #E7E7E7;
    border-radius: 10px;
}

.timer-button {
    position: absolute;
    width: 310px;
    height: 154px;
    left: 0px;
    top: 522px;
    
    background: #E7E7E7;
    border-radius: 10px;
}

h1 {
    position: absolute;
    width: auto;
    height: 55px;
    left: calc(50% - 145px/2 + 0.5px);
    top: calc(50% - 55px/2 + 0.5px);
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    
    color: #000000;
}

.tasks-button {
    position: absolute;
    width: 405px;
    height: 67px;
    left: 410px;
    top: 0px;
    
    background: #E7E7E7;
    box-sizing: border-box;
    border-radius: 10px;
}

.tasks-button-text {
    position: absolute;
    width: 82px;
    height: 37px;
    left: calc(50% - 82px/2 + 0.5px);
    top: calc(50% - 37px/2);
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;    
}

.times-button {
    position: absolute;
    width: 405px;
    height: 67px;
    left: 835px;
    top: 0px;
    
    background: #E7E7E7;
    border-radius: 10px;
}

.times-button-text {
    position: absolute;
    width: 179px;
    height: 37px;
    left: calc(50% - 179px/2 + 1px);
    top: calc(50% - 37px/2);
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;    
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 830px;
    height: 967px;
    right: 0px;
    top: 87px;    
}

.task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    
    position: static;
    width: 830px;
    left: 0px;
    
    background: #E7E7E7;
    border-radius: 10px;
    
    /* Inside Auto Layout */
    
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px 20px 0px;
}

h2 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    
    color: #000000;
}

h3 {    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #000000;
}

p {
    position: static;
    width: 790px;
    height: 42px;
    left: calc(50% - 790px/2);
    top: 185px;
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
    color: #000000;
    margin: 10px 0px 0px 0px;
}

.times {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 830px;
    height: 967px;
    right: 0px;
    top: 87px;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    
    position: static;
    width: 830px;
    left: 0px;
    
    background: #E7E7E7;
    border-radius: 10px;
    
    /* Inside Auto Layout */
    
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px 20px 0px;
}